body{
   font-family: sans-serif; 
   width: 1024px;
   margin: auto;
   background-color: beige;
}
#pageTitle{
   display: inline-block;
}
nav{
   display: inline-block;
}
ul li{
   list-style: none;
}
nav ul li{
 display: inline-block;
 padding: 15px;
 border: 1px solid black;
}
header{
   display: flex;
   align-items: center;
}
header>ul{
   display: inline-block;
   margin-left: auto;
}
a{
   text-decoration: none;
}

div#container{
   display: flex;
}
main{
   background-color: cornsilk;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
article{
width: 400px;
}
article img{
   width: 100%;
   height: auto;
}
aside{
   background-color: antiquewhite;
}
footer{text-align: center;}
